
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>后台接口调用：<a href="http://localhost:3000/users/getUserInfo?id=1">getUserInfo</a></p>
</body>
</html>
